@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.Card {
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 3px 12px #dae1e7;
  height: 400px;
  width: 250px;
  border-radius: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #47597e;
  /* background: "https://picsum.photos/seed/picsum/200/300"; */
}
.cardTop {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.hrElement {
  border: 0;
  height: 1px;
  background: #5273eb;
}
.cardBottom {
  background-color: #5273eb;
  padding: 20px;
}
